@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
  font-family: 'DM Sans', sans-serif;
}
fieldset {
  width: fit-content;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


