<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <form action="/auth/signup" method="POST">
            <div>
            <label for="email">Email</label>
            <input type="text"  name="email" required>
            </div>
            <fieldset>
                <legend>Type</legend>
                <input type="radio" id="general"
                 name="type" value="general">
                <label for="general">General</label>
            
                <input type="radio" id="official"
                 name="type" value="official">
                <label for="official">Official</label>
            
            </fieldset>
            <div>
                <label for="pincode">Pincode</label>
                <input type="text"  name="pincode" required>
           </div>
           
            <div>
            <label for="password">Password</label>
            <input type="password"  name="password" required>
            </div>
            <div>
            <button type="submit">Sign up</button>
            </div>
        </form>
        <script src="" async defer></script>
    </body>
</html>